<% provide(:title, "Edit Task") %>
<div class="container">
      
  <h1>タスク編集</h1>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= form_tag user_task_path, method: :patch do %>

          <%= render 'shared/task_error_messages' %>

          <label class="label-form" for="task_name">名称</label>
          <input class="form-control" type="text" value="<%= @task.name %>" name="name">

          <label class="label-form" for="task_description">詳細</label>
          <textarea rows="5" class="form-control" name="description"><%= @task.description %></textarea>

          <input type="submit" name="commit" value="更新" class="btn btn-primary btn-form" data-disable-with="更新">
          <%= link_to "キャンセル", user_tasks_path(@task.user_id) , class: "btn btn-default btn-form" %>

        <% end %>
      </div>
    </div>
  </div>
</div>